# SwiftPM
.build/
.swiftpm/
DerivedData/

# Xcode
xcuserdata/
*.xcuserstate
*.xccheckout

# simshot output
appstore/
screenshots/
output/

# npm package downloaded binaries
npm/bin/

# VitePress docs
node_modules/
docs/.vitepress/cache/
docs/.vitepress/dist/

# macOS
.DS_Store
