# SwiftPM
.build/
.swiftpm/
DerivedData/

# Xcode
xcuserdata/
*.xcuserstate
*.xccheckout

# simshot output
appstore/
screenshots/
output/

# npm package downloaded binaries
npm/bin/

# macOS
.DS_Store
